.container {
    background-color: #BD4234;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding: 1%;
    margin: 0 auto;
    /* padding-bottom: 25px; */
}
.display {
    margin: 25px;
    /* margin-bottom: 25px; */
    height: 110px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
  .App{
      display: flex;
  }
  .btn-group {
    width: 75%;
    border: 2px solid grey;
    /* display: flex; */
    /* height: 100%; */
    /* 
    justify-content: space-around;
    flex-wrap: wrap;
     */
  }
   /* { */
    /* margin: 10px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: none;
    font-size: 35px;
    color: white; */
    /* background-color: #123C78; */
    /* cursor: pointer;
    transition: 0.3s ease-in-out; */
  
  /* } */


  .specials, .numbers{
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
    /* background-color: #2161B0; */
  }
  .operators {
      width: 25%;
    /* background-color: #3FB5E5; */
    border: 2px solid green;
  }
  .special-button, .number-button, .operator-button{
      width: 20%;
      border-radius: 50%;
  }
  .number-button{
    background-color: #123C78;
    text-align: center;
    padding: 2rem;
  }
  .special-button{
    background-color: #2161B0;
    text-align: center;
    padding: 2rem;
  }
  .operator-button{
    background-color: #3FB5E5;
    text-align: center; 
    padding: 2rem;
  }
/* #zero {
    /* flex-grow: 0.8 */
     /* width: 50%;
     border-radius: 47px;
     text-align: left;
     padding :40px;
  
  } */ 
  /* #zero:hover{
    transform: scale(1.05);
  }
  
  button:hover {
    background-color: rgb(212, 46, 212);
    transform: scale(1.125);
    transition: 0.3s ease-in;
  } */
